.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}
.cart-container{
    position: fixed ;
    left: 78%;
    top: 250px;
    width: 15%;
    background-color: goldenrod;
    border: 2px solid rgb(71, 71, 71);
    padding: 10px;
    border-radius: 5px;


}